.square {
  background-color: #fff;
  border: 1px solid #000;
  font-size: 24px;
  height: 5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5rem;
  float: left;
}
